.shifted{padding-left:70px}

body {
  font: normal 100%/1.5 Verdana, sans-serif;
  color: #FAFAFA; 
  background: #3B3B47;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color:#7CBDBA;
  text-decoration: none;
  text-align: center;
}

.white {
  color: white;
  font-size: 50px
}

.button {
  display: inline-block;
  line-height: 5em;
  padding: 0px 0em;
  background: #2e2e2e;
  border-radius: 50%;
  background-clip: padding-box;
  height: 60px;
  width: 60px;
  transition: all 1s ease-in 0s;
  margin-right: 1em
}

.button--subtle {
  background-image: linear-gradient(to top, transparent 0%,#41414D 100%,transparent 100%);
	box-shadow: 0 1px 1px #33333D;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C15;
  background-color: #FAFAFA
}
